:root {
  --Cyan: hsl(180, 66%, 49%);
  --Cyanhover: hsl(180, 58%, 61%);
  --DarkViolet: hsl(257, 27%, 26%);
  --Red: hsl(0, 87%, 67%);
  --Gray: hsl(0, 0%, 75%);
  --Grayish-Violet: hsl(257, 7%, 63%);
  --Very-Dark-Blue: hsl(255, 11%, 22%);
  --Very-Dark-Violet: hsl(260, 8%, 14%);
  --azulfondo: #EFF1F7;
  --poppins500:'Poppins', sans-serif;
  --Roboto300:'Roboto', sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 18px;
  

}

h1, h2, h3, h4, a{
  font-family: var(--poppins500);
}

p{
  font-size:1.1rem ;
  font-family: var(--Roboto300);

}


nav{
  display: flex;
  justify-content: space-around;
  height: 90px;
  width: 95vw;
}
nav img{
  width: 180px;
  height: 50px;
  padding-top: 20px;
}
.toggle-menu{
  display: none;
}
.cont{
  display: flex;
}
nav ul{
  list-style: none;
}

.navlist{
  display: flex;
  align-items: center;
}


.navlist ul{
  display: flex;
  gap: 30px;
}

.logreg{
  display: flex;
  align-items: center;
}

.logreg ul{
  display: flex;
  gap: 30px;
}

nav a{
  text-decoration: none;
  color: inherit;
}

button{
  background-color: var(--Cyan);
  color: #ffffff;
  font-family: "Poppins";
  padding: 10px 20px;
  border: 0px;
  border-radius: 25px;
}

button:hover{
  background-color:var(--Cyanhover) ;
}

.button2{
  color: inherit;
  background-color: inherit;
}
.button2:hover{
  background-color: inherit;
}
/* -----------HEADER--------- */



main{
  overflow: hidden;
}



header{
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  margin-bottom: 150px;
}

header div{
  padding: 40px;
  width:45%;
}

header h1{
  font-size: 60px;
  margin: 0px;
}

header img{
  width: 45%;
  position: relative;
  right: -25px;
}


/* -----------------FORM---------- */

.container-form{
  position: relative;
  width: 80%;
  top: -60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.form{
  background-image: url(images/bg-shorten-desktop.svg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 120px;
  border-radius: 8px;
  background-color: var(--DarkViolet);
}


form{
  width: 90%;
  display: flex;
  gap: 10px;
}

form input{
  width: 80%;
  border: 0px;
  text-indent: 20px;
  border-radius: 5px;
}


form button{
  width: 20%;
  border-radius: 5px;
}


.container-form .acortado-container{
  box-sizing: border-box;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  width: 79%;
  min-width: fit-content;
  margin: 15px;
  padding: 10px;
  gap: 5px;
}

.container-form .acortado-container .urls-container{
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
  gap: 15px;
}

.urls-container>p{
  width: fit-content;
  margin-bottom: 0px;
  padding-bottom: 0px;
  text-align: start;
}

.urls-container a{
  text-decoration: none;
  color: var(--Cyan);
}

.container-form .acortado-container .copy-acortado{
  padding: 5px;
}

.container-form .acortado-container .copy-acortado img{
  box-sizing: border-box;
  width: 25px;
}

.Advanced-Statistics{
  background-color: var(--azulfondo);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


p{
  margin: 0px 0px 30px 0px;
  text-align: center;
  width: 500px;
}
/* -----------------------cards */
.container-cards{
  position: relative;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 50px 0px 150px 0px;
  
  

}

.card{
  position: relative;
  width: 20%;
  text-align: center;
  text-wrap: balance;
  z-index: 2;

  background-color: white;
  padding: 30px 20px;
  border-radius: 8px;

  text-align: left;
}

.card p{
  
  margin: initial;
  text-align: initial;
  width: initial;
  
}

.cyan{
  height: 20px;
  width: 500px;
  background-color: var(--Cyan);
  position: absolute;
  z-index: 1;
  top: 50%;
}


.container-icon{
  background-color: var(--DarkViolet);
  display: flex;
  position: absolute;
  top: -30px;
  width:60px;
  height: 60px;
  border-radius: 50% 50%;

  
}


.container-icon img{
  
  margin: 10px;
}


.card2{
  top: 30px;
}

.card3{
  top: 60px;
}


/* ---------------Boost-your-links-today */


.Boost-your-links-today{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--DarkViolet);
  background-image: url(images/bg-boost-desktop.svg);
  padding: 40px;
  margin: 0px;
  
}

.Boost-your-links-today h2{
  color: #ffffff;
}


/* ----------------Footer */

h4{
  margin: 0px;
  margin-bottom: 20px;
}

footer{
  background-color: var(--Very-Dark-Violet);
  height: fit-content;
  color: #ffffff;
  margin: 0px;
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1.8fr 1fr 1fr 1fr 1.8fr;
}

.container-logo{
  display: flex;
  justify-content: center;
  
}


footer ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}



footer ul li a{
  text-decoration: none;
  color: var(--Gray);
}

.container-redes{
  display: flex;
  justify-content: center;
  gap: 25px;
}


@media (max-width: 700px) {
  body{
    width: 100vw;
  }
  nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    object-fit: cover;
    padding-left: 10px;
    padding-top: 20px;
  }
  nav img{
    width: 35%;
    height: 40px;
  }
  .cont{
    color: #ffffff;
    width: 95%;
    height: 350px;
    background-color: var(--DarkViolet);
    position: absolute;
    z-index: 100;
    top: 80px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    
  }
  .none{
    display: none;
  }
  
  .logreg{
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  .logreg ul li{
    display: flex;
    flex-direction: column;

  }

  .navlist ul{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-left: 0px;
  }
  .logreg ul{
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    width: 80%;
  }
  .logreg ul li{
    display: flex;
    justify-content: stretch;
  }

  .toggle-menu{
    display: inline;
    width: 80px;
    
  }

  .toggle-menu img{
    object-fit: cover;
    margin-left: 30px;
  }

  header{
    flex-direction: column-reverse;
    
  }
  header div{
    text-align: center;
    width: 80%;
  }
  header h1{
    font-size: 40px;
  }
  header button{
    width: 200px;
  }
  header img{
    width: 100%;
  }
  button{
    font-size: 19px;
  }
  form{
    flex-direction: column;
    align-items: center;

  }
  form input{
    width: 80%;
    padding: 10px;
  }
  form button{
    width: 80%;
    
  }
  .container-cards{
    flex-direction: column;
  }
  .Advanced-Statistics>p{
    text-align: center;
    width: 90%;

  }
  .container-cards{
    align-items: center;
  }

  .card{
    width: 80%;
  }
  .cyan{
    rotate: 90deg;
    height: 12px;
  }
  .container-icon{
    left: 41%;
  }
  .Boost-your-links-today{
    text-align: center;
    font-size: 16px;
  }
  footer{
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr 0.3fr;
    text-align: center;
    gap: 10px;
    
  }
  .rej{
    position: relative;
    right: 6%;
  }
  .card{
    text-align: center;
  }
  .card p{
    text-align: center;
  }

}